@media(max-width: 1130px){
.friends-slider{
    margin: 100px 0 0 0;
    background-color: #F6F6F6;
    text-align: center;
}
.slider-title {
    
    padding: 80px 0 0 0;
    font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;
letter-spacing: 0.06em;
color: #545454;
}

.slider-button {
    padding: 60px 0 100px 0;
    
}
.wrapper-slider{
    display: inline-block;
    text-align: center;
    max-width: 630px;
    max-height: 990px;

    /* display: inline-block; */
    overflow: hidden;
}
.slider-slides{
    height: 100%;
    width: 400%;
    display: flex;
    position: relative;
    /* transition: all ease 1s ; */
    
    display: flex;
    gap: 90px;
    padding: 60px 0 0 0;
    /* overflow: hidden; */
    max-width: 660px;

  
   
}
.btn-slide{
    width: 45px;
    height: 45px;
    border: 2px solid #F1CDB3;
    border-radius: 50%;
    
    
   
}
.left{
    display: inline-block;
    width: 45px;
    vertical-align: 1500%;
    padding: 0 55px 0 0px;
 
    
}
.right{
    display: inline-block;
    width: 45px;
    vertical-align: 1500%;
    padding: 0 0px 0 10px;
  
}
img{
    width: 100%;
    height: 100%;
}
.petContainer{
    width: 270px;
    background: #FAFAFA;

}
.images {

}
.img{
    width: 100%;
    height: 100%;
    
}
.pet-name {
    padding: 30px 0 0 0;
    font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
letter-spacing: 0.06em;
color: #545454;
}
.btn-pets {
    padding: 30px 0 30px 0;
    font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 130%;
letter-spacing: 0.06em;
color: #292929;
}
.button-pets{
    padding: 15px 45px;
    background-color: #FAFAFA;
    border: 2px solid #F1CDB3;
    border-radius: 60px;
    font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 130%;
letter-spacing: 0.06em;
color: #292929;


}
}

@media(max-width: 1024px){
    .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 10;
        /* opacity: 0; */
        /* pointer-events: none; */
    }
    .background.active{
        opacity: 1;
        pointer-events: all;
    }
    .popup-main {
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        width: 630px;
        height: 350px;
        border-radius: 10px;
        /* opacity: 0;
        pointer-events: none; */
        /* transition: 0.5s all;  */
    }
    .popup-main.active{
        transform: translate(-50%, -50%);
        opacity: 1;
        pointer-events: all;
        /* transition: 0.5s all; */
    }
    .close-popup{
        position: absolute;
        top: 0%;
        left: 50%;
        width: 52px;
        height: 25px;
        border: 2px solid #F1CDB3;
        border-radius: 50%;
    }
    .close{
        padding: 20px;
        width: 12px;
        height: 12px;
    }
    
    .columns {
        display: flex;
        
    
    }
    .popup-text{
        padding: 10px 0 0 10px;
        font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #000000;
    }
    .popup-img{
    
    }
    .column {
    }
    .images-popup {
        /* min-width: 500px;
        min-height: 500px; */
    }
    .img-popup {
        width: 350px;
        height: 340px;
    }
    .pet-name-popup {
        font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #000000;
    padding: 0 0 0 10px;
    }
    .pet-type {
        padding: 10px 0 0 10px;
        font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #000000;
    }
    .pet-description {
        padding: 20px 10px 0 10px;
        font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #000000;
    }
    .pet-age {
        padding: 20px 0 0 10px;
        font-family: 'Georgia';
    font-style: normal;
    
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #000000;
    }
    .pet-inoculations {
        font-family: 'Georgia';
    font-style: normal;
    padding: 5px 0 0 10px;
    
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #000000;
    }
    .pet-diseases {
        padding: 5px 0 0 10px;
        font-family: 'Georgia';
    font-style: normal;
    
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #000000;
    }
    .pet-parasites {
        padding: 5px 0 0 10px;
        font-family: 'Georgia';
    font-style: normal;
    
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #000000;
    }
}

@media(max-width: 767px){
    .friends-slider{
        margin: 100px 0 0 0;
        background-color: #F6F6F6;
        text-align: center;
    }
    .slider-title {
        
        padding: 80px 0 0 0;
        font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    }
    
    .slider-button {
        padding: 60px 0 100px 0;
        
    }
    .wrapper-slider{
        display: inline-block;
        text-align: center;
        max-width: 270px;
        min-width: 200px;
        max-height: 990px;
    
        /* display: inline-block; */
        overflow: hidden;
    }
    .slider-slides{
        height: 100%;
        width: 400%;
        display: flex;
        position: relative;       
        display: flex;
        text-align: center;
        padding: 60px 0 0 0;
        max-width: 330px;
    
      
       
    }
    .btn-slide{
        width: 45px;
        height: 45px;
        border: 2px solid #F1CDB3;
        border-radius: 50%;
        
        
       
    }
    .left{
        display: inline-block;
        width: 45px;
        vertical-align: 1500%;
        padding: 0 55px 0 0px;
     
        
    }
    .right{
        display: inline-block;
        width: 45px;
        vertical-align: 1500%;
        padding: 0 0px 0 10px;
      
    }
    img{
        width: 100%;
        height: 100%;
    }
    .petContainer{
        width: 270px;
        background: #FAFAFA;
    
    }
    .images {
    
    }
    .img{
        width: 100%;
        height: 100%;
        
    }
    .pet-name {
        padding: 30px 0 0 0;
        font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    }
    .btn-pets {
        padding: 30px 0 30px 0;
        font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    }
    .button-pets{
        padding: 15px 45px;
        background-color: #FAFAFA;
        border: 2px solid #F1CDB3;
        border-radius: 60px;
        font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    
    
    }
}

@media(max-width: 650px){
    .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 10;
        /* opacity: 0; */
        /* pointer-events: none; */
    }
    .background.active{
        opacity: 1;
        pointer-events: all;
    }
    .popup-main {
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        width: 260px;
        height: 360px;
        border-radius: 10px;
        /* opacity: 0;
        pointer-events: none; */
        /* transition: 0.5s all;  */
    }
    .popup-main.active{
        transform: translate(-50%, -50%);
        opacity: 1;
        pointer-events: all;
        /* transition: 0.5s all; */
    }
    .close-popup{
        position: absolute;
        top: 0%;
        left: 50%;
        width: 52px;
        height: 25px;
        border: 2px solid #F1CDB3;
        border-radius: 50%;
    }
    .close{
        padding: 20px;
        width: 12px;
        height: 12px;
    }
    
    .columns {
        display: flex;
        
    
    }
    .popup-text{

        padding: 10px 10px 0 10px;
        font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #000000;
    }
    .popup-text:first-child{
        
    }
    .popup-img{
        display: none;
    }
    .column {
    }
    .images-popup {
        /* min-width: 500px;
        min-height: 500px; */
    }
    .img-popup {
        width: 350px;
        height: 340px;
    }
    .pet-name-popup {
      
        font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #000000;
    padding: 0 0 0 10px;
    }
    .pet-type {
        padding: 10px 0 0 10px;
        font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #000000;
    }
    .pet-description {
        padding: 20px 10px 0 10px;
        font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #000000;
    }
    .pet-age {
        padding: 20px 0 0 10px;
        font-family: 'Georgia';
    font-style: normal;
    
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #000000;
    }
    .pet-inoculations {
        font-family: 'Georgia';
    font-style: normal;
    padding: 5px 0 0 10px;
    
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #000000;
    }
    .pet-diseases {
        padding: 5px 0 0 10px;
        font-family: 'Georgia';
    font-style: normal;
    
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #000000;
    }
    .pet-parasites {
        padding: 5px 0 0 10px;
        font-family: 'Georgia';
    font-style: normal;
    
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #000000;
    }
}

@media(max-width: 400px){
    .friends-slider{
        margin: 100px 0 0 0;
        background-color: #F6F6F6;
        text-align: center;
    }
    .slider-title {
        
        padding: 40px 0 0 0;
        font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    }
    
    .slider-button {
        padding: 40px 0 42px 0;
        
    }
    .wrapper-slider{
        display: inline-block;
        text-align: center;
        max-width: 270px;
        min-width: 200px;
        max-height: 990px;
    
        /* display: inline-block; */
        overflow: hidden;
    }
    .slider-slides{
        height: 100%;
        width: 400%;
        display: flex;
        position: relative;       
        display: flex;
        text-align: center;
        padding: 40px 0 0 0;
        max-width: 330px;
    
      
       
    }
    .btn-slide{
        width: 45px;
        height: 45px;
        border: 2px solid #F1CDB3;
        border-radius: 50%;
        
        
       
    }
    .btn-slide2{
        width: 52px;
        height: 52px;
        border: 2px solid #F1CDB3;
        border-radius: 50%;
        
        
       
    }
    .buttonsLR{
        padding: 20px 0 0 0;
        display: flex;
       
        justify-content: center;
        gap: 80px;
        

    }
    .left{
        width: 45px;
        padding: 0 55px 0 0px;
        display: none;
     
        
    }
    .left2{
        display: inline-block;
        
    }
    .lleft2 {
        display: inline-block; 
    width: 52px;
    padding: 0 0px 0 0px;
    }
    .right{
        width: 45px;
        padding: 0 0px 0 10px;
        /* display: inline-block; */
        display: none;
      
    }
    img{
        width: 100%;
        height: 100%;
        
    }
    .petContainer{
        width: 270px;
        background: #FAFAFA;
    
    }
    .images {
    
    }
    .img{
        width: 100%;
        height: 100%;
        
    }
    .pet-name {
        padding: 30px 0 0 0;
        font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    }
    .btn-pets {
        padding: 30px 0 30px 0;
        font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    }
    .button-pets{
        padding: 15px 45px;
        background-color: #FAFAFA;
        border: 2px solid #F1CDB3;
        border-radius: 60px;
        font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    
    }
}