
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.container {

}
.main-content {
    background: #F6F6F6;
    flex: 1 1 auto;
}

@media(max-width: 889px){
    .wrapper-slider{
        display: flex;
        text-align: center;
        max-width: 1400px;
        max-height: 1490px;
        overflow: hidden;
        justify-content: center;
    }
    .slider-slides{
        height: 100%;
        position: relative;   
        display: flex;
        gap: 40px;
        padding: 60px 0 0 0;
        max-width: 1200px;
        flex-wrap: wrap;
        justify-content: center;
       
    }
}

@media(max-width: 767px){
    .dog-buttons{
        padding: 40px 0 76px 0;
    }
}

@media(max-width: 430px){
    .dog-buttons{
        padding: 42px 0;
    }
    .dog-title {
        text-align: center;
        padding: 42px 0;
        
        font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    }
    .dog-buttons{
        padding: 42px 0;
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    .slider-slides {
        padding: 00px 0 0 0;
    }
}
